bs4
ray==2.6.0
datasets==2.5.2
jsonlines
pandas
tqdm
numpy
scikit-learn
seaborn
matplotlib
black
dask
click
huggingface-hub
accelerate==0.20.3
transformers
wandb
tokenizers
evaluate
gradio==3.48.0
gradio_client==0.6.1